ion-content ion-toolbar {
  --background: transparent;
}

.slider {
  height: 20%; /* slider height you want */
  }

.SliderCard {
  height: 80px; /* slider height you want */
  }
    
  /* img {
    width: 80px;
    height: 80px;
    border: 1px solid green;
    display: inline-block;
  } */
  .StyleText{
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .SliderCardImage{
    width: 80px;
    height: 80px;
    border: 1px solid green;
    display: inline-block;
  }

/* Container needed to position the overlay. Adjust the width as needed */
.container {
  position: relative;
  width: 50%;
  max-width: 300px;
}

/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
}

.fishes
{
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
.fish
{
  position: absolute;
  vertical-align: middle;
  align-items: center;
  width: 50%;
  height: 50%;
  z-index: 2;
}
.style{
  position: relative;
  left: 0;
  top: 0;
}

.Frame
{
    background: url('../StyleOne.jpg') no-repeat;
    text-align: center;
}
.div {
  width: 300px;
  height: 300px;
  position: relative;
      margin: 0 auto;
}

.first {
  width: 100%;
  height: 100%;
}

.second {
  position: absolute;
  left: 25%;
  top:25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 50%;
  max-width: 50%;
  max-height: 50%;
  max-width: 50%;
}

.cart{
  height: 50px;

  color: blue;
}